@page "/Alttable"

@using Version = ScanApp.Domain.ValueObjects.Version
@using ScanApp.Data
@using ScanApp.Models.SpareParts
@using ScanApp.Common.Interfaces
@using ScanApp.Common
@using FluentValidation
@inject WeatherForecastService ForecastService
@inject IDateTime DateTime

<h1>Alt table</h1>

<SCTable @ref="table" EditOnRowClick="true" RowsPerPage="100" Height="500" MaxDialogContentHeight="500" FixedHeader="true" TTableType="WeatherForecast" ItemFactory="@(new Func<WeatherForecast>(Create))"
         Data="forecasts" Configs="@cc.ToList()" @bind-SelectedItem="@WeatherForecast" @bind-SelectedItems="WeatherForecasts" Virtualize="true"
         ItemCreated="Created" Loading="loading">
    <SCColumn T="WeatherForecast" BoundConfig="@cc[1]">
        <MudButton Color="@(context.TemperatureC > 20 ? Color.Error : Color.Info)" OnClick="@(() => context.TemperatureC = ++context.TemperatureC)">
            @(context.TemperatureC)
        </MudButton>
        @context.TemperatureC
        <MudButton Color="@(context?.Summary?.Length > 5 ? Color.Primary : Color.Secondary)">
            @(context?.Summary)
        </MudButton>
    </SCColumn>
    <SCColumn T="WeatherForecast" BoundConfig="@cc[4]"><MudButton>Test button</MudButton></SCColumn>
</SCTable>

<MudButton OnClick="@(_ => Remove())">External Delete</MudButton>
<MudButton OnClick="@(_ => table.OpenEditItemDialog())">Edit using table function</MudButton>
<MudButton OnClick="@(_ => table.OpenAddItemDialog())">Add using table function</MudButton>
<MudButton OnClick="@(_ => table.OpenFilterItemDialog())">Filter using table function</MudButton>

<MudText>@(WeatherForecast?.Summary ?? string.Empty)</MudText>
<MudText>@(ItemCreatedByTable?.Summary ?? string.Empty)</MudText>
<MudText>
    <li>
        @foreach (var w in WeatherForecasts ?? Enumerable.Empty<WeatherForecast>())
        {
            <ul>@w?.Summary</ul>
        }
    </li>
</MudText>

@code
{
    public bool loading;
    public void ChangeUsingExternalButton(WeatherForecast ob)
    {
        var i = forecasts.FindIndex(w => w == WeatherForecast);
        if (i < 0)
            return;
        WeatherForecast = ob;
        forecasts[i] = ob;
    }

    private WeatherForecast Create()
    {
        return new WeatherForecast(11);
    }

    private void Created(WeatherForecast item)
    {
        ItemCreatedByTable = item;
    }

    WeatherForecast ItemCreatedByTable;

    public ColumnConfig<WeatherForecast>[] cc =
    {
        ColumnBuilder<WeatherForecast>.For(c => c.Summary)
            .UnderName("Simple summary")
            .ValidateUsing(new FluentValidationWrapper<string>(x => x.NotEmpty().MinimumLength(5).MaximumLength(20)))
            .ColumnStyle("width: 30%;")
            .Groupable()
            .Editable()
            .LimitValuesTo(new List<string>()
            {
                null,
                "yes",
                "no",
                "maybe"
            })
            //.ConvertUsing(new Converter<string>()
            //{
            //    SetFunc = x => x + " conv."
            //})
            .Build(),
        ColumnBuilder<WeatherForecast>.For(c => c.TemperatureC)
            .UnderName("Temperature in C")
            .ValidateUsing(new FluentValidationWrapper<int>(x => x.NotEmpty().GreaterThan(10)))
            .Groupable()
            .Editable()
            .Build(),
        ColumnBuilder<WeatherForecast>.For(c => c.Date)
            .FormatAs(FieldType.Date)
            //.ValidateUsing(new FluentValidationWrapper<DateTime?>(x => x.GreaterThan(System.DateTime.Today + TimeSpan.FromDays(-10))))
            .Groupable()
            .Editable()
            .Build(),
        ColumnBuilder<WeatherForecast>.For(c => c.Date)
            .UnderName("Separate time column")
            .FormatAs(FieldType.Time)
            .ValidateUsing(new FluentValidationWrapper<DateTime?>(x => x.GreaterThan(System.DateTime.Today + TimeSpan.FromDays(-10))))
            .Groupable()
            .Editable()
            .Build(),
        ColumnBuilder<WeatherForecast>.ForPresentation("test")
            .Build(),
        ColumnBuilder<WeatherForecast>.For(c => c.Version)
            .UnderName("A version")
            .ValidateUsing(new FluentValidationWrapper<Version>(x => x.Must(c => c.IsEmpty != true)))
            .ConvertUsing(new Converter<Version>
            {
                SetFunc = value => value?.Value,
                GetFunc = Version.Create
            })
            .Groupable()
            .Editable()
            .Build(),
        ColumnBuilder<WeatherForecast>.For(c => c.Number)
            .UnderName("Const number")
            .Groupable()
            .Editable()
            .Build(),
        ColumnBuilder<WeatherForecast>.For(c => c.Model.Name)
            .UnderName("Model name")
            .Groupable()
            .Editable()
            .Build(),
        ColumnBuilder<WeatherForecast>.For(c => c.nulldate)
            .UnderName("Null Date")
            .DisableFiltering()
            .Build()
    };

    public ColumnConfig<WeatherForecast>[] altConifgWay = new[]
    {
        new ColumnConfig<WeatherForecast>(c => c.Summary, "Simple summary", new FluentValidationWrapper<string>(x => x.NotEmpty().MinimumLength(5).MaximumLength(20))),
        new ColumnConfig<WeatherForecast>(c => c.TemperatureC, "Temperature in C", new FluentValidationWrapper<int>(x => x.NotEmpty().GreaterThan(10))),
        new ColumnConfig<WeatherForecast>(c => c.Date, null, FieldType.Date, new FluentValidationWrapper<DateTime?>(x => x.GreaterThan(System.DateTime.Today + TimeSpan.FromDays(-10)))),
        new ColumnConfig<WeatherForecast>(c => c.Date, "Separate time column", FieldType.Time, new FluentValidationWrapper<DateTime?>(x => x.GreaterThan(System.DateTime.Today + TimeSpan.FromDays(-10)))),
        new ColumnConfig<WeatherForecast>(c => c.Version, "A version", new FluentValidationWrapper<Version>(x => x.Must(c => c.IsEmpty != true)))
            .AssignConverter(new Converter<Version>
            {
                SetFunc = value => value.Value,
                GetFunc = Version.Create
            }),
        new ColumnConfig<WeatherForecast>(c => c.Number, "Const number"),
        new ColumnConfig<WeatherForecast>(c => c.Model.Name, "Model name"),
        new ColumnConfig<WeatherForecast>(c => c.nulldate, "Null Date")
    };

    public WeatherForecast WeatherForecast { get; set; }
    public HashSet<WeatherForecast> WeatherForecasts { get; set; } = new HashSet<WeatherForecast>();

    private List<WeatherForecast> forecasts = new();
    private SCTable<WeatherForecast> table;

    private void Remove()
    {
        forecasts.Remove(WeatherForecast);
        WeatherForecast = null;
    }

    protected override async Task OnInitializedAsync()
    {
        forecasts = (await ForecastService.GetForecastAsync(DateTime.Now)).ToList();
        forecasts.Add(new WeatherForecast()
        {
            Version = Version.Create("addddddddd"),
            TemperatureC = 21,
            Summary = "asdasdasdasdasd",
            Date = System.DateTime.Today,
            Model = new SparePartGUIModel()
        });
        var rand = new Random(12345);
        for (int i = 0; i < 2000; i++)
        {
            forecasts.Add(new WeatherForecast() { Date = DateTime.Now, Summary = rand.Next(5000000).ToString(), TemperatureC = rand.Next(21, 46) });
        }
    }
}