@attribute [Authorize]
@page "/counter"
@using Microsoft.AspNetCore.Identity;
@using Microsoft.EntityFrameworkCore
@using ScanApp.Application.Common.Entities
@using ScanApp.Infrastructure.Persistence
@using MediatR
@using ScanApp.Application.Admin.Commands
@using ScanApp.Application.Admin.Commands.ChangeUserSecurityStamp
@using ScanApp.Application.Admin.Queries
@using ScanApp.Application.Admin.Queries.GetAllUsers
@using ScanApp.Application.Admin.Commands.AddNewUserRole
@using ScanApp.Application.Common.Interfaces
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IDbContextFactory<ApplicationDbContext> AppDbContextFactory
@inject NotificationService NotificationService
@inject IScopedMediator Mediator

@inherits OwningComponentBase

<h1>Counter</h1>

<p>Current count: @_currentCount</p>

<AuthorizeView Roles="admin">
    <Authorized>
        <RadzenButton Click="@IncrementCount">Click me</RadzenButton>
    </Authorized>
    <NotAuthorized>
        <RadzenButton Click="@IncrementCount">Unauthorized click</RadzenButton>
    </NotAuthorized>
</AuthorizeView>
@_name
<AuthorizeView Roles="new_role">
    <Authorized>
        <button class="btn btn-primary" @onclick="IncrementCount" onmouseover="null">Authorized</button>
    </Authorized>
    <NotAuthorized>
        @context.User.Identity.IsAuthenticated
        <button class="btn btn-primary" @onclick="AddRole">Not Authorized</button>
        <RadzenButton Click="@TestLogoff" Disabled="_mayRender">Sign out user "Test"</RadzenButton>
        <RadzenButton Click="@TestLogoffUm" Disabled="_disabled">Sign out user "Test" user manager way</RadzenButton>
    </NotAuthorized>
</AuthorizeView>

@_userAuthenticated
@foreach (var usr in _users)
{
    <tr>
        <td>@usr</td>
    </tr>
}

@code {
    [CascadingParameter]
    private Task<AuthenticationState> AuthenticationStateTask { get; set; }

    bool _disabled = false;
    private int _currentCount = 0;
    private string _name;
    private List<string> _users = new List<string>();
    string _userAuthenticated;
    bool _mayRender = false;
    UserManager<ApplicationUser> userManager;
    RoleManager<IdentityRole> roleManager;

    protected override void OnInitialized()
    {
        base.OnInitializedAsync();
        userManager = (UserManager<ApplicationUser>)ScopedServices.GetService(typeof(UserManager<ApplicationUser>));
        roleManager = (RoleManager<IdentityRole>)ScopedServices.GetService(typeof(RoleManager<IdentityRole>));
    }

    public async Task TestLogoffUm()
    {
        _disabled = true;
        var res = await Mediator.SendScoped(new ChangeUserSecurityStampCommand("test"));

        var message = new NotificationMessage()
        {
            Severity = res.Conclusion ? NotificationSeverity.Success : NotificationSeverity.Warning,
            Detail = res.ErrorDescription?.ErrorMessage ?? "none"
        };
        NotificationService.Notify(message);
        _disabled = false;
    }

    public async Task TestLogoff()
    {
        _mayRender = true;
        await using (var context = AppDbContextFactory.CreateDbContext())
        {
            var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
            var user = authState.User;

            var mod = await context.Users.FirstAsync(u => u.UserName == "test");
            var u = Mediator.Send(new AddNewUserRoleCommand("&* ll"));
            mod.SecurityStamp = Guid.NewGuid().ToString();
            await context.SaveChangesAsync();
        }
        _mayRender = false;
    }

    private async Task<List<string>> GetUsers()
    {
        var result = await Mediator.SendScoped(new GetAllUsersQuery());

        if (result.Conclusion)
        {
            return result.Output.Select(u => u.UserName).ToList();
        }

        return new List<string>(0);
    }

    private async Task<string> GetName()
    {
        var t = await AuthenticationStateTask;
        return t.User.Identity.Name;
    }

    protected override async Task OnParametersSetAsync()
    {
        _name = await GetName();

        _users = await GetUsers();
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        _userAuthenticated = user.Identity.IsAuthenticated ? $"{ user.Identity.Name} is authenticated." : "The user is NOT authenticated.";
    }

    private void IncrementCount()
    {
        _currentCount++;
        _name += "A";
    }

    private async Task AddRole()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        var currentUser = await userManager.GetUserAsync(user);
        var role = await roleManager.CreateAsync(new IdentityRole()
        {
            Name = "new_role"
        });

        var t = await userManager.AddToRoleAsync(currentUser, "new_role");
    }
}