@attribute [Authorize]
@page "/counter"
@using Microsoft.AspNetCore.Identity;
@using Microsoft.EntityFrameworkCore
@using ScanApp.Application.Common.Entities
@using ScanApp.Infrastructure.Persistence
@using System.Net
@using MediatR
@using Microsoft.Extensions.DependencyInjection
@using ScanApp.Application.Admin.Commands
@using ScanApp.Application.Admin.Queries
@using ScanApp.Application.Common.Interfaces
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IDbContextFactory<ApplicationDbContext> AppDbContextFactory
@inject IServiceScopeFactory ScopeFactory
@inject IMediator Mediator
@inject IApplicationDbContext context

@inherits OwningComponentBase

<h1>Counter</h1>

<p>Current count: @currentCount</p>

<AuthorizeView Roles="admin">
    <Authorized>
        <RadzenButton Click="@IncrementCount">Click me</RadzenButton>
    </Authorized>
    <NotAuthorized>
        <RadzenButton Click="@IncrementCount">Unauthorized click</RadzenButton>
    </NotAuthorized>
</AuthorizeView>
@name
<AuthorizeView Roles="new_role">
    <Authorized>
        <button class="btn btn-primary" @onclick="IncrementCount" onmouseover="null">Authorized</button>
    </Authorized>
    <NotAuthorized>
        @context.User.Identity.IsAuthenticated
        <button class="btn btn-primary" @onclick="AddRole">Not Authorized</button>
        <RadzenButton Click="@TestLogoff" Disabled="MayRender">Sign out user "Test"</RadzenButton>
        <RadzenButton Click="@TestLogoffUm" Disabled="disabled">Sign out user "Test" user manager way</RadzenButton>
    </NotAuthorized>
</AuthorizeView>

@userAuthenticated
@foreach (var usr in users)
{
    <tr>
        <td>@usr</td>
    </tr>
}

@code {
    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }

    bool disabled = false;
    private int currentCount = 0;
    private string name;
    private List<string> users = new List<string>();
    string userAuthenticated;
    bool MayRender = false;
    //protected override bool ShouldRender() => MayRender;
    UserManager<ApplicationUser> userManager;
    RoleManager<IdentityRole> roleManager;

    protected override void OnInitialized()
    {
        base.OnInitializedAsync();
        userManager = (UserManager<ApplicationUser>)ScopedServices.GetService(typeof(UserManager<ApplicationUser>));
        roleManager = (RoleManager<IdentityRole>) ScopedServices.GetService(typeof(RoleManager<IdentityRole>));
    }

    public async Task TestLogoffUm()
    {
        disabled = true;
        var res = await Mediator.Send(new ChangeUserSecurityStampCommand("test"));
        disabled = false;
    }

    public async Task TestLogoff()
    {
        MayRender = true;
        int saved = 0;
        await using (var context = AppDbContextFactory.CreateDbContext())
        {
            var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
            var user = authState.User;

            var mod = await context.Users.FirstAsync(u => u.UserName == "test");
            mod.SecurityStamp = Guid.NewGuid().ToString();
            saved = await context.SaveChangesAsync();
        }
        MayRender = false;
    }

    private async Task<List<string>> GetUsers()
    {
        var result = await Mediator.Send(new GetAllUsersQuery());
        return result.Select(u => u.UserName).ToList();
    }

    private async Task<string> GetName()
    {
        var t = await authenticationStateTask;
        return t.User.Identity.Name;
    }

    protected override async Task OnParametersSetAsync()
    {
        name = await GetName();

        users = await GetUsers();
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        if (user.Identity.IsAuthenticated)
        {
            userAuthenticated = $"{ user.Identity.Name} is authenticated.";
        }
        else
        {
            userAuthenticated = "The user is NOT authenticated.";
        }
    }

    private void IncrementCount()
    {
        currentCount++;
        name = name + "A";
    }

    private async Task AddRole()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        var currentUser = await userManager.GetUserAsync(user);
        var role = await roleManager.CreateAsync(new IdentityRole()
        {
            Name = "new_role"
        });

        var t = await userManager.AddToRoleAsync(currentUser, "new_role");
    }
}