@attribute [Authorize]
@page "/counter"
@using Microsoft.AspNetCore.Identity;
@using Microsoft.EntityFrameworkCore
@using ScanApp.Application.Common.Entities
@using ScanApp.Infrastructure.Persistence
@using System.Net
@using ScanApp.Application.Common.Interfaces
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject RoleManager<IdentityRole> roleManager
@inject UserManager<ApplicationUser> userManager
@inject IApplicationDbContext AppDbContext

<h1>Counter</h1>

<p>Current count: @currentCount</p>

<AuthorizeView Roles="admin">
    <Authorized>
        <RadzenButton Click="@IncrementCount">Click me</RadzenButton>
    </Authorized>
    <NotAuthorized>
        <RadzenButton Click="@IncrementCount">Unauthorized click</RadzenButton>
    </NotAuthorized>
</AuthorizeView>
@name
<AuthorizeView Roles="new_role">
    <Authorized>
        <button class="btn btn-primary" @onclick="IncrementCount" onmouseover="null">Authorized</button>
    </Authorized>
    <NotAuthorized>
        @context.User.Identity.IsAuthenticated
        <button class="btn btn-primary" @onclick="AddRole">Not Authorized</button>
        <button class="btn btn-primary" @onclick="TestLogoff" onmouseover="null">Update logoff</button>
    </NotAuthorized>
</AuthorizeView>

@userAuthenticated
@foreach (var usr in users)
{
    <tr>
        <td>@usr</td>
    </tr>
}

@code {
    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }

    private int currentCount = 0;
    private string name;
    private List<string> users = new List<string>();
    string userAuthenticated;

    public async Task TestLogoff()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        var currentUser = await userManager.GetUserAsync(user);
        await userManager.UpdateSecurityStampAsync(currentUser);

        authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        user = authState.User;

        if (user.Identity.IsAuthenticated)
        {
            userAuthenticated = $"{ user.Identity.Name} is authenticated.";
        }
        else
        {
            userAuthenticated = "The user is NOT authenticated.";
        }
    }


    private async Task<List<string>> GetUsers()
    {
        var users = await AppDbContext.Users.ToListAsync();
        await AppDbContext.SaveChangesAsync();
        List<string> a = new List<string>();

        foreach (var applicationUser in users)
        {
            a.Add(applicationUser.UserName);
            await Task.Delay(250);
        }
        return a;
    }

    private async Task<string> GetName()
    {
        var t = await authenticationStateTask;
        return t.User.Identity.Name;
    }

    protected override async Task OnParametersSetAsync()
    {
        name = await GetName();

        users = await GetUsers();
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        if (user.Identity.IsAuthenticated)
        {
            userAuthenticated = $"{ user.Identity.Name} is authenticated.";
        }
        else
        {
            userAuthenticated = "The user is NOT authenticated.";
        }
    }

    private void IncrementCount()
    {
        currentCount++;
        name = name + "A";
    }

    private async Task AddRole()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        var currentUser = await userManager.GetUserAsync(user);
        var role = await roleManager.CreateAsync(new IdentityRole()
        {
            Name = "new_role"
        });

        var t = await userManager.AddToRoleAsync(currentUser, "new_role");
    }
}