@page "/hesscheduler"
@using ScanApp.Components.Scheduler
@using ScanApp.Models.Scheduler
<style>
    table {
        font-family: arial, sans-serif;
        width: 100%;
        border-spacing: 0 7px;
        table-layout: fixed;
        position: absolute;
    }

    td, th {
        border: 1px solid lightgray;
        text-align: center;
        overflow: hidden;
    }

    .header {
        padding: 20px;
        background: #479cc8;
        color: white;
        font-size: 30px;
        text-align: center;
    }

    .wrapper {
        display: flex;
    }

    .wrapper-content {
        flex: 0 0 100%;
        padding-left: -14px;
    }

    @@media screen and (max-width: 1550px) {
        div#depot-header {
            content: none;
        }
    }
</style>

<div class="header">
    <h1>HES Scheduler</h1>
</div>
<table class="table">
    <thead>
        <tr>
            <div class="wrapper">
                <div id="depot-header" class="wrapper-content" style="font-size: large; padding-left: 15px;">Depot</div>
                <div class="wrapper-content" style="margin-left: -12px;">5:00</div>
                <div class="wrapper-content">6:00</div>
                <div class="wrapper-content">7:00</div>
                <div class="wrapper-content">8:00</div>
                <div class="wrapper-content">9:00</div>
                <div class="wrapper-content" style="margin-left: -5px;">10:00</div>
                <div class="wrapper-content">11:00</div>
                <div class="wrapper-content">12:00</div>
                <div class="wrapper-content">13:00</div>
                <div class="wrapper-content">14:00</div>
                <div class="wrapper-content">15:00</div>
                <div class="wrapper-content">16:00</div>
                <div class="wrapper-content">17:00</div>
                <div class="wrapper-content">18:00</div>
                <div class="wrapper-content">19:00</div>
                <div class="wrapper-content">20:00</div>
            </div>
        </tr>
    </thead>
    <tbody>
        @foreach (var depotID in _depotIDs)
        {
            <tr>
                <th style="width: 3%; font-size: x-large;">
                    @depotID.ToString()
                </th>
                @foreach (var hour in _hoursArrayInts)
                {
                    <th>
                        <EventSquare AppointmentAdded="AddAppointment" AppointmentDeleted="DeleteAppointment" DataHasChanged="UpdateAppointment" DateFrom="@GetTimeSlotDate(hour)" 
                                     DepotID="@depotID" DateTo="@GetTimeSlotDate(hour + 1)" Appointment="@GetHesAppointment(depotID, hour)" />
                    </th>
                }
            </tr>
        }
    </tbody>
</table>

@code {

    static string[] _hoursArray =
    {
        "5:00", "6:00", "7:00", "8:00", "9:00", "10:00",
        "11:00", "12:00", "13:00", "14:00", "15:00",
        "16:00", "17:00", "18:00", "19:00", "20:00"
    };

    static private int[] _hoursArrayInts =
    {
        5, 6, 7, 8, 9, 10, 11, 12, 13, 14,
        15, 16, 17, 18, 19, 20
    };

    private List<string> _hours = new List<string>(_hoursArray);
    private List<int> _hoursInt = new List<int>(_hoursArrayInts);
    private DateTime _currentDate = new DateTime(2021, 7, 20);
    int[] _depotIDs = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10};

    public List<HesAppointmentModel> AppointmentList = new List<HesAppointmentModel>();

    protected override void OnInitialized()
    {
        AppointmentList.Add(
            new HesAppointmentModel(new DateTime(2021, 7, 20), 10, 11)
            {
                DepotID = 2,
                Company = "HSF",
                GridLocation = 10,
                IdentificationNumber = "666",
                Loading = true,
                Note = "Something",
                Spedition = "DHL",
                Unloading = false
            });

        AppointmentList.Add(
            new HesAppointmentModel(new DateTime(2021, 7, 20), 5, 6)
            {
                DepotID = 4,
                Company = "HSFFFFFFFFFFFFFFFFFF",
                GridLocation = 5,
                IdentificationNumber = "777",
                Loading = true,
                Note = "Something",
                Spedition = "DHL",
                Unloading = false
            });
    }

    private DateTime GetTimeSlotDate(int hour)
    {
        var dateFrom = _currentDate.Date;
        return dateFrom.AddHours(hour);
    }

    private HesAppointmentModel GetHesAppointment(int depotID, int hour)
    {
        foreach (var hesAppointment in AppointmentList)
        {
            if (hesAppointment.DepotID == depotID && hesAppointment.TimeSlot.StartHour == hour)
            {
                return hesAppointment;
            }
        }
        return null;
    }

    private void UpdateAppointment(HesAppointmentModel appointment)
    {
        for (int i = 0; i < AppointmentList.Count; i++)
        {
            if (appointment.IdentificationNumber == AppointmentList[i].IdentificationNumber)
            {
                AppointmentList[i] = appointment;
                break;
            }
        }
        StateHasChanged();
    }

    private void DeleteAppointment(HesAppointmentModel appointment)
    {
        AppointmentList.Remove(appointment);
        StateHasChanged();
    }

    private void AddAppointment(HesAppointmentModel appointment)
    {
        AppointmentList.Add(appointment);
        StateHasChanged();
    }
}
